@charset "utf-8";
/* CSS Document */
body{ background: #fff; font-family:'Microsoft Yahei', Arial, Helvetica, sans-serif;  font-size:14px; color:#333;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
body,div,ul,ol,li,form,p,input,form,fieldset,h1,h2,h3,h4,h5,h6,dl,dt,dd{
margin:0;
padding:0;
list-style:none;
}
h1{font-size: 18px; color: #666666;}
table{ border-collapse:collapse;border-spacing:0;}
.none{display: none;}
a:link{text-decoration:none; color: #666;}
a:visited{text-decoration:none; color: #666;}
a:hover{text-decoration:none; color: #e84147;}
a:active{text-decoration:none; color: #e84147;}
b{font-weight: normal;}
fieldset ,img{
border:none;
}
/*box setings*/
.posrela{position: relative;}
.left0{left: 0;}
.right0{right: 0;}
.height20{height: 20px;}
.height100{height: 100px;}
.middle1200{width: 1200px; margin: 0 auto;}
.marl10{margin-left: 10px;}
.marl20{margin-left: 20px;}
.mart10{margin-top: 10px;}
.mart20{margin-top: 20px;}
.mart30{margin-top: 30px;}
.mart40{margin-top: 40px;}
.mart50{margin-top: 50px;}
.marb20{margin-bottom: 20px;}
.marb100{margin-bottom: 100px;}
.padl10{padding-left:10px;}
.pad5{padding: 5px;}
.pad8{padding: 8px;}
.pad20{padding: 20px;}
.pad30{padding: 30px;}
.pad40{padding: 40px;}
.padl25{padding-left: 25px;}
.padr20{padding-right: 20px;}
.width50{width: 50px;}
.width70{width: 70px;}
.width80{width: 80px;}
.width100{width: 100px;}
.width200{width: 200px;}
.width300{width: 300px;}
.width400{width: 400px;}
.width500{width: 500px;}
.width700{width: 700px;}
.width220{width: 220px;}
.width800{width: 800px;}
.width980{width: 980px;}
.width1024{width: 1024px;}
.fillet-box{border-radius:5px; width: 100%;  background:#fff; overflow: hidden;}
.fillet-box-border{border: 1px solid #d8d8d8;}
/*font sizes*/
.font48{font-size: 48px;}
.font30{font-size: 30px;}
.font28{font-size: 28px;}
.font24{font-size: 24px;}
.font18{font-size: 18px;}
.font16{font-size: 16px;}
.font14{font-size:14px;}
.font12{font-size:12px;}
.font10{font-size: 10px;}
/*font colors*/
.color-F43443{color: #F43443;}
.color-333{color: #333;}
.color-666{color: #666;}
.color-999{color: #999;}
.color-2E3138{color: #2E3138;}
.color-2E9DCE{color: #2E9DCE;}
/*background colors*/
.bg-fcf7f3{background-color: #fcf7f3;}
.bg-fff{background: #fff;}
.bg-fdedd2{background: #fdedd2;}

.fenxiang_zdy{
    position:fixed;
	z-index:1015;
	background:rgba(0,0,0,.8);
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
.fenxiang_zdy img{
	width:100%;
	height:40%;
	display:block;
	position:fixed;
	top:30px;
}
.part{cursor:pointer}